<div class="container">
	<div class="row">
		<p style="padding:90px"></p>
	</div>
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<img src="/assets/gowalla/net.jpg" width="75%" height="110" alt="">	
			<p style="padding:5px"></p>
		    <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" #searchInput>
			    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="getGowalla(searchInput.value)">Submit</button>
		    </form>			
		</div>
	<div class="col"></div>
</div>