<div class="card" style="width: 20rem;">
	<br>
 	<img class="card-img-top mx-auto d-block" src="/assets/gowalla/girl.png" width="50%" height="45%" alt="Card image cap">
  	<div class="card-block">
    	<h4 class="card-title">Summer Jensen</h4>
    	<h6 class="card-subtitle mb-2 text-muted">id: {{userid}}</h6>
    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   	 	<button class="btn btn-outline-warning" (click)="getActivity()">Get latest activity</button>
  	</div>
   	<div class="card-footer">
   		<small class="text-muted">Last active 2 days ago</small>
   	</div>
</div>