<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/home/network">Network</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/home/flag">Language</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" routerLinkActive="active" href="#">Hierarchy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled"  routerLinkActive="active" href="#">Activity</a>
  </li>
</ul>
<br>
<router-outlet></router-outlet>