<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/home/network">Network</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/home/flags">Language</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/home/tree">Hierarchy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled"  routerLinkActive="active" href="#">Activity</a>
  </li>
</ul>
<p style="padding:5px;"></p>
<router-outlet></router-outlet>